/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  --dark-navy: hsl(216, 25%, 25%);
  --grey-navy: hsl(219, 13%, 44%);
  --pure-white: hsl(0, 0%, 100%);
  --purple: hsl(277, 91%, 56%);
  --light-purple: hsl(278, 100%, 95%);
  --light-grey: hsl(220, 37%, 97%);
  --light-bluish: hsl(216, 47%, 78%);
  --green: hsl(151, 70%, 50%);
  --light-green: hsl(151, 88%, 94%);
  --red: hsl(0, 82%, 63%);
  --light-red: hsl(22, 100%, 96%);
  --navy: hsl(215, 27%, 32%);
  --light-blue: hsl(225, 100%, 96%);

  --ff: "Rubik", sans-serif;

  --clr-bg-theme: var(--light-grey);
  --clr-bg-choice: var(--pure-white);
  --clr-heading-primary: var(--dark-navy);
  --clr-heading-secondary: var(--grey-navy);
  --clr-text: var(--dark-navy);

  --fs-heading-primary: 2.5rem;
  --fs-heading-secondary: .875rem;
  --fs-text-title: 1.25rem;
  --fs-text-content: 1.125rem;
  --fs-score: 5.5rem;
}

@media (min-width: 35rem) {
  :root {
    --fs-heading-primary: 4rem;
    --fs-heading-secondary: 1.25rem;
    --fs-text-title: 2.25rem;
    --fs-text-content: 1.75rem;
    --fs-score: 9rem;
  }
} 

[darkmode] {
  --clr-bg-theme: var(--dark-navy);
  --clr-bg-choice: var(--navy);
  --clr-heading-primary: var(--pure-white);
  --clr-heading-secondary: var(--light-bluish);
  --clr-text: var(--pure-white);

  background-image: url("./assets/images/pattern-background-mobile-dark.svg");
}

@media (min-width: 35rem) {
  [darkmode] {
    background-image: url("./assets/images/pattern-background-tablet-dark.svg");
    padding: 1rem 4rem;
  }
}

@media (min-width: 62rem) {
  [darkmode] {
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
    padding: 1rem 7rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility             */
/* ------------------- */

/* general */
body {
  font-family: var(--ff);
  background-color: var(--clr-bg-theme);
  background-image: url("./assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem 1.125rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.hover:hover {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.block-box {
  display: block;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; 
  border: 0;
}

[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

@media (min-width: 35rem) {
  body {
    background-image: url("./assets/images/pattern-background-tablet-light.svg");
    padding: 1rem 4rem;
  }
}

@media (min-width: 62rem) {
  body {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    padding: 1rem 7rem;
  }
}

/* colors */
.text-heading-primary { color: var(--clr-heading-primary);}
.text-heading-secondary { color: var(--clr-heading-secondary);}
.text { color: var(--clr-text);}
.text-grey-navy { color: var(--grey-navy);}
.text-white { color: var(--pure-white);}
.text-red { color: var(--red);}

.clr-bg { background: var(--clr-bg-theme);}
.clr-bg-choice { background: var(--clr-bg-choice);}
.clr-purple { background-color: var(--purple);}
.clr-light-grey { background-color: var(--light-grey);}
.clr-light-red { background-color: var(--light-red);}
.clr-light-blue { background-color: var(--light-blue);}
.clr-light-green { background-color: var(--light-green);}
.clr-light-purple { background-color: var(--light-purple);}

[data-topic="html"] { background-color: var(--light-red);}
[data-topic="css"] { background-color: var(--light-green);}
[data-topic="javascript"] { background-color: var(--light-blue);}
[data-topic="accessibility"] { background-color: var(--light-purple);}

/* typhography */
.fw-bold { font-weight: 500;}
.fw-normal { font-weight: 400;}
.fw-italic { font-weight: 300;}

.fs-heading-primary { font-size: clamp(2.5rem, 2.087vw + 2.043rem, 4rem);}
.fs-heading-secondary { font-size: clamp(0.875rem, 0.522vw + 0.761rem, 1.25rem);}
.fs-text-title { font-size: clamp(1.25rem, 1.391vw + 0.946rem, 2.25rem);}
.fs-text-content { font-size: clamp(1.125rem, 0.87vw + 0.935rem, 1.75rem);}
.fs-score { font-size: clamp(5.5rem, 4.87vw + 4.435rem, 9rem);}

/* ------------------- */
/* Components          */
/* ------------------- */

/* btn */
.btn {
  text-transform: capitalize;
  padding-block: .75rem;
  border: 0;
  border-radius: .75rem;
  width: 100%;
  position: relative;
}

.btn:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 0;
  border-radius: .75rem;
  width: 100%;
  height: 100%;
  background-color: var(--pure-white);
  opacity: .5;
  cursor: pointer;
}

[hidden] {
  display: none;
}

/* remove default style */
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/* label */
.radio-wrapper {
  grid-template-columns: 2.5rem 1fr 2rem;
  position: relative;
  border-radius: .75rem;
  padding: 1rem .75rem;
  align-items: center;
}

/* a, b, c, d */
.box {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 8px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.box:not(.header-box)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border: 3px solid transparent;
  border-radius: .75rem;
}

.box::after {
  position: absolute;
  right: 1rem;
  margin: auto;
}

.radio-wrapper:hover .box:not([data-topic]) {
  color: var(--purple);
  background-color: var(--light-purple);
}

/* focus */
.radio-wrapper [type="radio"]:focus + .box:not([data-topic]) {
  color: var(--pure-white);
  background-color: var(--purple);
} 

.radio-wrapper [type="radio"]:focus + .box::before {
  border-color:  var(--purple);
}

/* choice check */
[data-check="true"] + .box {
  color: var(--pure-white);
  background-color: var(--green);
}

[data-check="true"] + .box::before {
  border-color: var(--green);
}

[data-check="true"] + .box::after {
  content: url("./assets/images/icon-correct.svg");
}

[data-check="false"] + .box {
  color: var(--pure-white);
  background-color: var(--red);
}

[data-check="false"] + .box::before {
  border-color: var(--red);
}

[data-check="false"] + .box::after {
  content: url("./assets/images/icon-incorrect.svg");
}

[data-correct] + .box::after {
  content: url("./assets/images/icon-correct.svg");
}

@media(min-width: 62rem) {
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .radio-wrapper {
    --gap: 1.5rem;
    padding-inline: 1.25rem;
  }
}

/* Layout */

/* header */
.header {
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-block: 1rem;
}

.header-icon {
  justify-self: start;
  align-items: center;
}

.icon {
  max-width: 80%;
}

.toggle-wrapper {
  grid-column: 2/-1;
  justify-self: end;
  grid-template-columns: repeat(3, auto);
  place-items: center;
}

.theme-title, .sun {
  grid-column: 1/2;
  grid-row: 1/2;
}

.moon {
  grid-column: 3/4;
}

.toggle-switch {
  grid-column: 2/3;
  width: 2.5rem;
  height: 1.5rem;
  background-color: var(--purple);
  border-radius: 999px;
  border: 0;
}

.round {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--pure-white);
  margin: auto 0;
}

[aria-checked="false"] .round{
  transform: translateX(15px);
}

/* menu */
.menu-title {
  margin-block-end: 2.5rem;
}

/* quiz */
.questions-wrapper legend {
  margin-block-end: 1.5rem;
}

.qus-number {
  display: block;
  margin-block-end: .75rem;
}

.error {
  justify-content: center;
  align-items: center;
}

/* result */
.quiz-complete-wrapper h1 span{
  display: block;
}

.result-card {
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 35.25rem;
  padding: 2rem;
  border-radius: .75rem;
}

.result-header {
  align-items: center;
}

.replay-btn {
  max-width: 35.25rem;
}

@media (min-width: 35rem) {
  .btn, .btn:hover::after, .radio-wrapper, .result-card {
    border-radius: 1.5rem;
  }
}

@media (min-width: 62rem) {
  .header {
    padding-block: 70px;
  }

  .questions-wrapper{
    grid-column: span 2;
  }

  .btns, .replay-btn {
    grid-column: 2/3;
  }
}
